@media (max-width: 992) {
    .movile-adapt{
        width: 30vw;
    }
    .container{
        max-width: 100vw !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .mainSection{
        padding: 0 !important;
        margin: 0 !important;
    }
  }

