.custom-card-size{
    max-height: 1000px;
}
.card-body-size{
    max-height: 200px;
}
.card{
    height: 550px;
    margin: 2vw 1vw 2vw 1vw !important;
}

.result-none{
    margin-bottom: 300px;
    margin-left: 2.5vw;
    min-height: 500px;
}
.card-page-body{
    min-height: 0;
    display: flex;
}